<div [ngClass]="{reminder: task.reminder}" class="task" (dblclick)="onToggle(task)">
  <h3>
    <input
      type="checkbox"
      [checked]="task.completed"
      (change)="toggleCompleted()"
      style="margin-right: 8px;"
    />
    <span
      [ngStyle]="{
        'text-decoration': task.completed ? 'line-through' : 'none',
        'opacity': task.completed ? 0.5 : 1
      }"
    >
      {{ task.text }}
    </span>
    <fa-icon
      (click)="editTask()"
      [ngStyle]="{ color: 'orange' }"
      [icon]="faEdit"
    ></fa-icon>
    <fa-icon
      (click)="onDelete(task)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>{{ task.day }}</p>
</div>

<!-- Show edit-task component when in edit mode -->
<app-edit-task
  *ngIf="isEditing"
  [task]="task"
  (onSaveEdit)="updateTask($event)"
  (onCancelEdit)="cancelEdit()"
></app-edit-task>
